.noActive{
    color: rgb(226, 218, 218);
    text-decoration: none;
}
/* .HomeBackground{
    background-color: rgba(30, 30, 30, 0.604);
} */
.active{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 1px;
}
.active:hover{
    color: white;
}
.noActive:hover{
    color: white;
}